[submodule "opensearch"]
	path = opensearch
	url = https://repo1.dso.mil/dsop/afrl-dcgs/stream/opensearch-project/opensearch.git
[submodule "elasticsearch7"]
	path = elasticsearch7
	url = https://repo1.dso.mil/dsop/elastic/elasticsearch/elasticsearch7.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = https://repo1.dso.mil/dsop/elastic/elasticsearch/elasticsearch.git
